.formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .img {
        background-image: url(../../assets/imgs/login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    .mainHead {
        font-size: 24px;
        padding-top: 2rem;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    form {
        width: 80%;
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;
    }

    form > div:not(:last-of-type) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
    }

    span.error {
        color: red;
        font-size: 12px;
        font-family: inter-semibold;
    }

    p {
        color: var(--neutral-4);
        a {
            font: 16px inter-semibold;
            color: var(--blue);
            &:hover {
                cursor: pointer;
            }
        }
    }

    p.error,
    p.success {
        font: 14px inter-semibold;
    }

    p.error {
        color: red;
    }

    p.success {
        color: var(--green);
    }

    [type="checkbox"] {
        padding: 0.5rem;
        margin-right: 0.5rem;
    }

    label {
        font: 16px inter;
        text-transform: capitalize;
        color: var(--neutral-4);
        span {
            font: 16px inter-semibold;
            color: var(--neutral-7);
        }
    }

    .flex,
    .flexBetween {
        gap: 0.2rem !important;
    }

    .flex span {
        color: var(--neutral-7);
    }
}

@media (max-width: 769px) {
    .formGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(50vh, 1fr));

        .img {
            min-height: 50vh;
            grid-row: 1/2;
        }
        form {
            grid-row: 2/3;
        }
    }
}
