.cart {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    counter-reset: step;
    h3 {
        text-align: center;
    }

    .cartContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;

        table {
            width: 60%;
        }
        > div:nth-of-type(1) {
            width: 35%;
            align-self: start;
        }
    }

    .steps {
        width: 100%;
        margin: 3rem auto;
        padding: 2rem;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        h6 {
            --color: var(--neutral-4);
            display: inline;
            margin-right: 20%;
            white-space: nowrap;
            padding-bottom: 2rem;
            border-bottom: 1px solid var(--color);
            color: var(--color);
            font-size: 20px;
            &.completed {
                --color: green;
            }
            &.selected {
                --color: var(--neutral-7);
            }
            &:before {
                counter-increment: step;
                content: counter(step);
                padding: 8px 10px;
                background-color: var(--color);
                border-radius: 50%;
                color: #fff;
                margin-right: 0.5rem;
            }
        }
    }
    .col {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    table {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .color {
        font-size: 12px;
        font-family: inter;
        color: var(--neutral-4);
    }

    td {
        padding: 1rem 0;
    }
    tr {
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr);
        align-items: center;
    }

    thead tr {
        border-bottom: 1px solid var(--neutral-5);
    }
    tbody tr {
        border-bottom: 1px solid var(--neutral-3);
    }

    .name {
        font: 14px inter-semibold;
    }

    input[type="number"] {
        width: 70px;
        padding: 0.5rem;
    }

    img[alt="close"] {
        width: 24px;
    }
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1rem;
    margin-bottom: 3rem;
    border-radius: 6px;
    border: 1px solid #6c7275;

    > div:not(:nth-child(5), :nth-child(6)) {
        border: 1px solid #6c7275;
        padding: 0.5rem;
        border-radius: 6px;
    }

    label {
        font: 16px inter;
        color: var(--neutral-7);
    }
}

.coupon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    div {
        width: fit-content;
        border: 1px solid var(--neutral-7);
    }

    p {
        color: var(--neutral-4);
    }
    input,
    button {
        all: unset;
        padding: 0.7rem;
    }

    img {
        width: 20px;
        margin-left: 0.5rem;
    }
}

.checkout {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem 0;
    form {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .order {
        width: 30%;
        align-self: start;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.2rem;
        border: 1px solid #6c7275;
        border-radius: 6px;
    }

    fieldset {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 6px;
        border: 1px solid #6c7275;

        div {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }
    }

    input[name="coupon"] {
        width: 60%;
    }

    span,
    p {
        white-space: nowrap;
    }

    img[alt="money"] {
        width: 20px;
    }
}

.complete {
    max-width: 600px;
    margin: 2rem auto 5rem;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 32px 48px rgba(12, 12, 12, 0.1);

    h6,
    div span {
        color: var(--neutral-4);
    }
    h4 {
        color: #23262f;
    }

    div span:nth-of-type(2) {
        color: var(--neutral-7);
    }

    .products {
        margin: 0 auto;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 300px;
        margin: 0 auto;
    }

    a {
        background-color: var(--neutral-7);
        padding: 1rem 3rem;
        align-self: center;
        color: #fff;
        border-radius: 80px;
        font-family: inter-medium;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .cart .cartContainer {
        flex-direction: column;
        gap: 3rem;
        > * {
            width: 100% !important;
        }

        .coupon {
            order: 2;
        }

        .summary {
            order: 3;
        }

        tr {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .checkout {
        flex-direction: column;
        .order,
        form {
            width: 100%;
        }
    }
}

@media (max-width: 769px) {
    .cart thead tr {
        td:not(:nth-of-type(1)) {
            display: none;
        }
    }
    .complete {
        width: 90%;
        padding: 2rem 1rem;
        text-align: left;

        .info {
            margin: 0;
            width: 100%;
            > div {
                flex-direction: column;
                align-items: start;
                border-bottom: 1px solid var(--neutral-3);
                padding-bottom: 1rem;
            }
        }
        a {
            padding: 1rem;
        }
    }
}
