.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    h4 {
        font-size: 24px;

        span {
            color: var(--neutral-4);
        }
    }

    .link {
        all: unset;
        color: var(--neutral-4);
        &:hover {
            cursor: pointer;
        }
        &:active {
            color: var(--neutral-7);
        }
    }

    .nav {
        display: flex;
        gap: 2rem;
    }

    .icons {
        display: flex;
        gap: 1rem;
    }
}

@media (width > 769px) {
    .header {
        img[alt="menu"] {
            display: none;
        }
    }
}

@media (max-width: 769px) {
    .header {
        nav img[alt="menu"] {
            display: block;
        }
        .nav,
        img[alt="search"],
        img[alt="user"] {
            display: none;
        }
        .h {
            font-size: 0.9rem;
        }
    }
}
