footer {
    background-color: var(--neutral-7);
    padding: 3rem 0;
    color: #fff !important;

    h6 {
        font-size: 1.5rem;
        padding-right: 2rem;
        border-right: 1px solid var(--neutral-5);
    }

    p,
    span,
    a {
        color: var(--neutral-3);
        font-size: 0.8rem;
    }

    a {
        margin-top: 0;
    }

    .row {
        padding: 2rem 0;
        &:nth-child(1) {
            border-bottom: 1px solid var(--neutral-5);
        }
    }

    .row,
    .row > div,
    .socials,
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .socials {
        gap: 1rem;
    }
}

@media (max-width: 769px) {
    footer {
        h6 {
            padding: 0;
            border-right: none;
        }
        .row,
        .row div:not(.socials, .flex) {
            flex-direction: column;
        }

        .socials {
            order: 1;
        }
        .copy {
            order: 2;
            p {
                order: 2;
            }
            .flex {
                order: 1;
            }
        }
    }
}
