.banner {
    background-color: var(--neutral-2);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: var(--neutral-5);

    .link {
        color: var(--blue);
        text-transform: uppercase;
        border-bottom: 2px solid var(--blue);
    }

    .arrow {
        width: 1.1rem;
    }

    .percent,
    .close {
        width: 1.5rem;
    }
}

@media (max-width: 480px) {
    .banner {
        .link {
            display: none;
        }
        .arrow,
        .percent,
        .close {
            width: 1rem;
        }
    }
}
