.homeSlider {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;

    h1 {
        color: var(--neutral-7);
        width: 65%;
        margin: 0 auto;
    }

    .span {
        color: var(--neutral-4);
    }

    .p {
        font: 16px inter;
        color: var(--neutral-4);
        flex: 1;
    }

    .spanE {
        font: 16px inter-semibold;
        color: var(--neutral-7);
    }
}

@media (max-width: 992px) {
    .homeSlider {
        h1 {
            width: 100%;
            text-align: center;
        }
        .p {
            text-align: center;
        }
    }
}
